---
import Layout from "../layouts/Layout.astro";
import { LOCALES } from "../i18n/config";
---

<Layout>
  <main>
    <ul>
      {
        LOCALES.map((loc) => (
          <li>
            <a href={`/${loc.code}/`}>{loc.label}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
