---
import { getRelativeLocaleUrl } from "astro:i18n";
import Layout from "../layouts/Layout.astro";
import { LOCALES, localePathSegment } from "../i18n/config";
---

<Layout>
  <main>
    <ul>
      {
        LOCALES.map((loc) => (
          <li>
            <a href={getRelativeLocaleUrl(localePathSegment(loc.code))}>
              {loc.label}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
